// 
// modal.scss
//


// Title text within header
.modal-title {
    margin-top: 0;
}

// Full modal
.modal-full {
    width: 92%;
    max-width: none;
}

.search_modal{
    > div {
        > h5 {
            color:#007bff;
            font-size: 150%
        }
        > form {
            > div:nth-child(2){
                cursor: pointer;
                > div {
                    padding: 2%;
                    text-align: center;
                    > div{
                        color: #24242496;
                    }
                    > div:nth-child(1){
                        border-block-end: red solid 1px;
                        color: red;
                        
                        
                    }
                }
            }
            > div:nth-child(3){
                display: none;
                > div:nth-child(2){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    > div:nth-child(3){
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.collapse_cal{
    display: none;
}

// Custom animation modal
.modal-demo {
    width: 600px !important;
    border-radius: 4px;
    display: none;
    position: relative;
    overflow: hidden;
    .close {
        position: absolute;
        top: 15px;
        right: 25px;
        color: $light;
    }
}

@media (max-width: 768px) {
    .modal-demo {
        width: 96% !important;
    }
}

.custom-modal-title {
    padding: 15px 25px 15px 25px;
    line-height: 22px;
    font-size: 18px;
    background-color: $dark;
    color: $white;
    text-align: left;
    margin: 0;
}

.custom-modal-text {
    padding: 20px;
    background-color: $white;
}

.custombox-modal-wrapper {
    text-align: left;
}

.custombox-modal-flash,
.custombox-modal-rotatedown {
    .close {
        top: 20px;
        z-index: 9999;
    }
}