.log_alerts{
    background-color: white;
   
}
.log_tab{
    background-color: blue;
     border-color: black;
    color:white;
}
.innerM{
    padding: 0px 10px 10px 10px;
}
.log_tab_width{
   
    display: inline;
 
}
.form_header{
    color: red;
    font-size: large;
}
.log_level{
    padding-left: 20px;
}
.checkss{
    font-weight: lighter !important;
    font-size: small;
    padding-left: 5px;
}
.form_input{
   
}
.subscribe_but{
    background-color: rgb(215, 100, 139);
    border-radius: 20px;
}
.subscribe_div{
    justify-content: center;
    display: flex;
}