.button_a {
     background:none;
     border:none; 
     padding:0;
    
    /*optional*/
     font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     cursor:pointer;
}
.button_b {
    background:'white';
    border:none; 
    padding:0;
}
.button_a:hover{
    text-decoration:underline;
    background: #069;
}